@model List<SharedObjects.ValueObjects.VRegistration>;

@{
    var customers = ViewData["Customer"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>;
    var Station = ViewData["Station"] as IEnumerable<SharedObjects.ValueObjects.VStation>;
    var Type = ViewData["Type"] as IEnumerable<SharedObjects.ValueObjects.VType>;
    //var RouteStep = ViewData["RouteStep"] as IEnumerable<SharedObjects.ValueObjects.VRouteStep>;
    //var RouteStep = ViewData["RouteStep"] as IEnumerable<JTSMS.Models.Recordset>;
}

<form>
    <table class="table table-bordered table-hover table-striped table-responsive">
        <thead>
            <tr class="text-center bold">
                <th>No.</th>
                <th>Customer</th>
                <th>Station</th>
                <th>RouteStep</th>               
                <th>Type</th>
                <th>Platform</th>
                <th>Test Script Id</th>
                <th>Description</th>
                <th>Status</th>
                <th>Modification</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>New</td>
                <td>
                    <select class="form-control" id="txt-customer" name="customer" required>
                        <option value="">Please Select</option>
                        @foreach (var item in customers.OrderByDescending(c => c.CustId).ToList())
                        {
                            <option value=@item.CustId>@item.CustName</option>
                        }
                    </select>
                </td>
                <td>
                    <select class="form-control" id="txt-station" name="station" style="height: 34px !important; color: mediumvioletred" onchange="fncOnChangeStation(this)">
                        <option value="">Please Select</option>
                        @foreach (var item in Station.OrderByDescending(c => c.Station).ToList())
                        {
                            <option value=@item.StepId>@item.Station</option>
                        }
                    </select>
                </td>
                <td>
                    <select class="form-control" id="txt-route" name="route" style="height: 34px !important; color: mediumvioletred">
                       

                        <option value="">--Please Select Station--</option>

                    </select>
                </td>
               
                <td>
                    <select class="form-control" id="txt-type" name="type" data-search="type" style="color:mediumvioletred">
                        <option value="">--Please Select--</option>
                        @foreach (var item in Type.OrderByDescending(c => c.TypeId).ToList())
                        {
                            <option value=@item.TypeId>@item.Type</option>
                        }
                    </select>
                </td>
                <td>
                    <select class="form-control" id="txt-platform" data-search="platform" name="platform" style="color:mediumvioletred">
                        <option value="">--Please Select--</option>
                        <option value=1>JEMSts </option>
                        <option value=2>Jabil Test</option>
                    </select>
                </td>
                <td></td>
                <td>
                    <input id="txt-description" type="text" class="form-control" style="height:30px" />
                </td>
                <td></td>
                <td class="text-center">
                    <a id="btn-add" class="btn default btn-xs purple update" title="Get Test Script ID"> <span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RegId</td>
                    <td>@item.CustName</td>
                    <td>@item.Station</td>
                    <td>@item.RouteStep</td>

                    <td>@item.Type</td>
                    <td>@item.Platform</td>
                    <td>@item.ScriptId</td>
                    <td>@item.Description</td>
                    <td style="background-color:@item.StatusColour">@item.StatusName</td>
                    <td class="text-center">
                        <a id="btn-edit" class="btn default btn-xs purple" data-reqId="@item.RegId" target="_blank" href="@Url.Action("Registration_get_by_id","Registration", new { id = item.RegId})" title="Edit"> <span class="glyphicon glyphicon-list-alt"></span></a>
                        @* <a id="btn-edit" class="btn default btn-xs purple" data-reqId="@item.ReqId" target="_blank" asp-controller="Request" asp-action="RequestDetail_get_by_id" asp-route-reqid="@item.ReqId" title="Edit"> <span class="glyphicon glyphicon-list-alt"></span></a>*@

                    </td>
                </tr>
            }

        </tbody>
    </table>

</form>

