@model SharedObjects.ValueObjects.VRequest
@using SharedObjects.ValueObjects;
@using SharedObjects.Extensions;

@{
    ViewData["Title"] = "Submission";
    var Approval_get = ViewData["Approval_get"] as IEnumerable<SharedObjects.ValueObjects.VApproval>;

}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12" style="min-height: auto !important;height: auto !important;">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="min-height: auto !important;height: auto !important">
                <div class="portlet-title">

                    <div class="caption col-md-12">
                        <span class="caption-subject font-green-sharp bold uppercase">
                            Detail
                        </span>
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Customer</label>
                        <input id="txt-custname" class="form-control" value="@Model.CustName" readonly />

                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Station</label>
                        <input id="txt-station" class="form-control" value="@Model.Station" readonly />

                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Route Step</label>
                        <input id="txt-routertep" class="form-control" value="@Model.RouteStep" readonly />

                    </div>

                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Type</label>
                        <input class="form-control" value="@Model.Type" readonly />
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Platform</label>
                        <input class="form-control" value="@Model.Platform" readonly />

                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Status</label>
                        <input class="form-control" value="@Model.StatusName" style="background-color: @Model.StatusColour" readonly />
                    </div>
                    <div class="form-group col-md-4 pull-left ">
                        <label class="text-center bold font-green-sharp" for="">Test Script Id</label>
                        <div class=" input-group">
                            <input class="form-control" id="txt-scriptid" value="@Model.ScriptId" readonly />
                            <span class="input-group-btn">
                                <button id="btn-copy" class="btn btn-default" type="button">
                                    <span class="tooltiptext" id="myTooltip">Copy</span>

                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Created By</label>
                        <input class="form-control" value="@Model.CreatedName" readonly />
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Created Date</label>
                        <input class="form-control" value="@Model.CreationDate" readonly />
                    </div>
                    @if (Model.StatusId == 1)
                    {
                        <form id="frm-submit">
                            <div class="form-group col-md-12 pull-left">


                                <div class="form-group col-md-4 pull-left">
                                    <label class="text-center bold font-green-sharp" for=""><span style="color:red">*</span> Script Name</label>
                                    <input id="txt-scriptname" name="scriptname" type="text" class="form-control" value="@Model.ScriptName" />
                                </div>
                                <div class="form-group col-md-2 pull-left">
                                    <label class="text-center bold font-green-sharp" for=""><span style="color:red">*</span> Script Revision</label>
                                    <input id="txt-scriptrev" name="scriptrev" type="text" class="form-control" value="@Model.ScriptRev" />
                                </div>
                                <div class="form-group col-md-2 pull-left">
                                    <label class="text-center bold font-green-sharp" for="">PCN or Dev Number</label>
                                    <input id="txt-PCNorDevNumber" name="PCNorDevNumber" type="text" class="form-control" value="@Model.PcnorDevNumber" />
                                </div>

                                <div class="form-group col-md-4 pull-left">
                                    <label class="text-center bold font-green-sharp" for="">Description</label>
                                    <input id="txt-description" name="description" type="text" class="form-control" value="@Model.Description" />
                                </div>

                                <div class="form-group col-md-6 pull-left">
                                    <label class="text-center bold font-green-sharp" for=""><span style="color:red">*</span> Original Script</label>
                                    <input id="txt-original" name="original" type="file" class="form-control" accept=".jts" />
                                </div>

                                <div class="form-group col-md-6 pull-left">
                                    <label class="text-center bold font-green-sharp" for=""><span style="color:red">*</span> Encrypted Script</label>
                                    <input id="txt-encrypted" name="encrypted" type="file" class="form-control" accept=".jts_encrypted" />
                                </div>

                                <div class="form-group col-md-4 pull-left">
                                    <label class="text-center bold font-green-sharp" for="">Evidence</label>
                                    <input id="txt-evidence" name="evidence" type="file" class="form-control" accept=".*" multiple />
                                    <div id="listFile">
                                    </div>
                                </div>

                                <div class="form-group col-md-4 pull-left">
                                    <div class=" input-group col-md-12">
                                        <label class="text-center bold font-green-sharp" for=""><span style="color:red">*</span> Assembly Detail</label>
                                        <div class="input-group">
                                            <input class="form-control uppercase" id="txt-assy" />
                                            <span class="input-group-btn">
                                                <button id="btn-add" class="btn btn-default" type="button">
                                                    ADD
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group col-md-12 pull-left">
                                        <table id="myTable" class="table table-bordered table-hover table-striped table-responsive" style="margin-left: auto; margin-right: auto;">
                                            <thead>
                                                <tr class="text-center bold">
                                                    <th>Assy #</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody" name="assy">
                                                @{var assy = Model.AssemblyNumber;
                                                    if (!String.IsNullOrEmpty(assy))
                                                    {
                                                        var list = assy.Split('|');
                                                        for (int i = 0; i < list.Length; i++)
                                                        {
                                                            <tr>
                                                                <td class="assy">@list[i]                                                        </td>
                                                                <td><button class="destroy">Delete</button> </td>
                                                            </tr>
                                                        }
                                                    }
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 pull-left">
                                    <label class="text-center bold font-green-sharp" for="">Change Detail</label>
                                    <div class="form-group">
                                        <textarea id="txt-changeDetail" class="cell" rows="6" cols="70" style="min-width: 502px; min-height: 80px; max-width: 502px; max-height: 126px; width: 988px; height: 355px;">@Model.ChangeDetail</textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group col-md-12">
                            <a class="btn btn-success" id="btn-submit" data-regid="@Model.RegId" data-typeid="@Model.TypeId">Submit</a>                           
                        </div>
                    }
                    else
                    {
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-4 pull-left">
                                <label class="text-center bold font-green-sharp" for="">Script Name</label>
                                <input class="form-control" value="@Model.ScriptName" readonly />
                            </div>
                            <div class="form-group col-md-2 pull-left">
                                <label class="text-center bold font-green-sharp" for="">Script Revision</label>
                                <input class="form-control" value="@Model.ScriptRev" readonly />
                            </div>
                            <div class="form-group col-md-2 pull-left">
                                <label class="text-center bold font-green-sharp" for="">PCN or Dev Number</label>
                                <input class="form-control" value="@Model.PcnorDevNumber" readonly />
                            </div>
                            <div class="form-group col-md-4 pull-left">
                                <label class="text-center bold font-green-sharp" for="">Description</label>
                                <input class="form-control" value="@Model.Description" readonly />
                            </div>
                            <div class="form-group col-md-4 pull-left" style="height:62px">
                                <label class="text-center bold font-green-sharp" for="">Original Script</label>
                                @*<a class="wrapper" href=""><span class="glyphicon glyphicon-download-alt"></span></a>*@
                                @{
                                    if (!String.IsNullOrEmpty(Model.AssemblyNumber))
                                    {
                                        <a class="wrapper" href="@Url.Action("Download", "Registration", new { fileName = @Model.OriginalFileName, type = "Original", custName = Model.CustName, station = Model.Station, assembly = Model.AssemblyNumber.Split('|').FirstOrDefault() })"><span class="glyphicon glyphicon-download-alt"></span></a>
                                    }
                                }
                                <input class="form-control" value="@Model.OriginalFileName" readonly />
                            </div>
                            <div class="form-group col-md-4 pull-left" style="height:62px">
                                <label class="text-center bold font-green-sharp" for="">Encrypted Script</label>
                                @{
                                    if (!String.IsNullOrEmpty(Model.AssemblyNumber))
                                    {
                                        <a class="wrapper" href="@Url.Action("Download", "Registration", new { fileName = @Model.EncriptedFileName, type = "encrypted", custName = Model.CustName, station = Model.Station, assembly = Model.AssemblyNumber.Split('|').FirstOrDefault() })"><span class="glyphicon glyphicon-download-alt"></span></a>
                                    }
                                }
                                <input class="form-control" value="@Model.EncriptedFileName" readonly />
                            </div>
                            <div class="form-group col-md-4 pull-left">
                                <label class="text-center bold font-green-sharp" for="">File Hash</label>
                                <input class="form-control" value="@Model.FileHash" readonly />
                            </div>

                            <div class="form-group col-md-4 pull-right">
                                <label class="text-center bold font-green-sharp" for="">Evidence</label>
                                <div>
                                    <table class="table table-bordered table-hover table-striped table-responsive" style="margin-left: auto; margin-right: auto;">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            @{ if (!string.IsNullOrEmpty(Model.Evidence))
                                                {
                                                    foreach (var item in Model.Evidence.Split('|'))
                                                    {
                                                        <tr>
                                                            <td>@item</td>
                                                            <td>
                                                                <a class="wrapper" href="@Url.Action("Download", "Registration", new { fileName = item, type = "Evidence", custName = Model.CustName, station = Model.Station, assembly = Model.AssemblyNumber.Split('|').FirstOrDefault()})"><span class="glyphicon glyphicon-download-alt"></span></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group col-md-4 pull-left">
                                <label class="text-center bold font-green-sharp" for="">Assembly Detail</label>
                                <table class="table table-bordered table-hover table-striped table-responsive" style="margin-left: auto; margin-right: auto;">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        @{ if (!string.IsNullOrEmpty(Model.AssemblyNumber))
                                            {
                                                foreach (var item in Model.AssemblyNumber.Split('|'))
                                                {
                                                    <tr><td>@item</td></tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group col-md-4 pull-left">
                                <label class="text-center bold font-green-sharp" for="">Change Detail</label>
                                <div class="form-group">
                                    <textarea class="cell" rows="6" cols="70" style="min-width: 500px; min-height: 80px; max-width: 500px; max-height: 100px; width: 500px; height: 90px;" disabled>@Model.ChangeDetail</textarea>
                                </div>
                            </div>
                        </div>

                    }
                    @if (Approval_get.ToList().Count > 0)
                    {
                        <div class="form-group col-md-12">
                            <label class="text-center bold font-green-sharp" for="">Approval History</label>
                            <table class="table table-bordered table-hover table-striped table-responsive">
                                <thead>
                                    <tr class="text-center bold">
                                        <th class="text-center">RouteName</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">UpdateDate</th>
                                        <th class="text-center">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Approval_get.ToList())
                                    {
                                        <tr>
                                            @{ var routeName = @item.RouteName != null ? @item.RouteName : "Submission";
                                                <td class="text-center">@routeName</td>
                                            }
                                            @{
                                                string name = item.IsClosed == 1 ? item.UpdatedName : item.Name;
                                                <td class="text-center">@name</td>
                                                string status = item.IsClosed == 1 ? "Closed" : "Pending Approval";
                                                <td class="text-center">@status</td>
                                                var date = item.IsClosed == 1 ? item.UpdateDate.ToString() : "";
                                                <td class="text-center">@date</td>
                                            }
                                            <td class="text-center">@item.Remarks</td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    }
                    @{


                        if (Model.StatusId == 2)
                        {
                            if (Approval_get.Where(s => s.IsClosed == 0).Any())
                            {

                                var approval_current = Approval_get.Where(s => s.IsClosed == 0).OrderBy(s => s.Sequence).FirstOrDefault();
                                if (approval_current.NTLogin != null)
                                {
                                    if (approval_current.NTLogin.Split(',').Contains(User.GetSpecificClaim("Ntlogin")))
                                    {
                                        <div class="form-group col-md-12 pull-left">
                                            <label class="text-center bold font-green-sharp" for="">Remark</label>
                                            <input class="form-control" id="txt-remark" />
                                        </div>
                                        <div class="form-group col-md-1">
                                            <a class="btn btn-success" id="btn-approve" data-regid="@Model.RegId" data-routeid="@approval_current.RouteId">Approve</a>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <a class="btn btn-success" id="btn-reject" data-regid="@Model.RegId" data-routeid="@approval_current.RouteId">Reject</a>
                                        </div>
                                    }
                                }
                            }
                        }


                        if (Model.StatusId == 5 && Model.TypeId == 2)
                        {
                            <div class="form-group col-md-1">
                                <a class="btn btn-success" id="btn-close" data-reqid="@Model.RegId">Close</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/registration-by-id.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="~/js/registration-by-id-file-process.js"></script>
    <script src="~/js/test.js"></script>

}

<div class="modal-area">
    <div class="modal fade" id="modal-search" tabindex="-1" role="columnheader" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Search Assembly Number</h4>

                </div>
                <form class="modal-body" id="frm-save">
                    <div class="form-group">
                        <label for="">Assembly Number</label>
                        <input type="text" class="form-control" id="txt-search-input" style="color:mediumvioletred" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-search-input" class="btn green">Search</button>
                    </div>
                    <div id="tbl-result">

                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--Kết thúc Modal thêm, update-->

</div>